<h6>{{ sectionId }}</h6>
<div class="section_header">
    <div class="section_index">{{ selectedSection.numberLevel }}</div>
    <div class="section_title">
            {{ selectedSection.name }}
            <br>
            <span>{{ selectedSection.answeredQuestions }} of {{ selectedSection.totalQuestions }}</span>
    </div>
</div>
<div class="questions_container">
    <app-question-info 
        *ngFor="let question of selectedSectionQuestion?.questions"
        [question]="question"
    ></app-question-info>
</div>
